<!-- <div id="fundo">
    <div class="fundo--circulo__alto"></div>
    <div class="fundo--circulo__baixo"></div>
</div> -->

<!-- caso a varivel parte nao seja passada da um erro -->
<%// if(typeof parte === 'undefined'){throw new Error('A variavel "parte" nao foi passada para o fundo')} %> 
<%// if(parte === 'abrir') {%> 

<%// } else if(parte == 'fechar'){%> 

<%// } %> 

<div class="conteudo">

</div>