<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Fundo padrao</title>
</head>
<body>
    <%- include('../modulos/cabecalho', {salaAnterior: 'Teste'}) %> 

     <!-- e aquela parte roxa da tela -->
    <div class="frente">
        
    </div>

    <%- include('../modulos/fundo') %> 
</body>
</html>
