<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Modal</title>
</head>
<body>
    <section id="modal">
        <div class="modal-container">
        
            <!-- <div class="modal-container__text-vencedor">
               <h2> FOI O(A) VENCEDOR(a)!!!</h2> 
            </div> -->

            <div class="modal-container__perdedor">
                <h2>NÃO FOI DESSA VEZ</h2>
                <img src="/assets/img/perdeu.svg" alt="PERDEDOR">
            </div>

            <div class="modal-container__botao">
                <button class="btn-pontuacao">SAIR</button>
            </div>
        </div>
    </section>
</body>
</html>