<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Modal</title>
</head>
<body>
    <section id="modal">
        <div class="modal-container">
        
            <div class="modal-container__text-vencedor">
               <h2>VOCÊ FOI O VENCEDOR!!!</h2> 
            </div>

            <div class="modal-container__vencedor">
                <img src="/assets/img/king.svg" alt="Coroa vencendor">
                <h2>VENCEDOR!!!</h2>
                <div class="modal-container__vencedor-score">
                    <h3>SCORE: <span><%= '200' %> </span></h3>
                </div>
            </div>

            <div class="modal-container__botao">
                <button class="btn-pontuacao">RECEBER PONTUAÇÃO</button>
            </div>
        </div>
    </section>
</body>
</html>