<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Salas do Bingo</title>
</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: 'Anterior'}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-creditos">
            <div class="content__creditos-dev">
                <h2>Participantes:</h2>
                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>


                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>


                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>


                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>


                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>


                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>


                <div class="content__creditos-dev__user">
                    <div class="content__creditos-dev__user-text">
                        <h2>NOME</h2>
                    </div>
                    <div class="content__creditos-dev__user-links">
                        <a href="#">
                            <img src="/assets/img/github-pequeno.svg" alt="github">
                        </a>

                        <a href="#">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
            <footer>
                <a href="#">
                    <h2>Link do Projeto Completo</h2>
                </a>
            </footer>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
</body>
</html>