<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Salas do Bingo</title>
</head>
<body>
    <%- include('./modulos/cabecalho', {salaAnterior: 'Créditos'}) %> 

     <!-- e aquela parte roxa da tela -->
    <%- include('./modulos/conteudo', {parte: 'abrir'}) %>
        <section class="sala-de-creditos">
            <div class="content__creditos-dev">
                <h2>Participantes:</h2>
                <div class="container__creditos-dev-global">
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>Gustavo Lage</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a  href="https://github.com/gustavodev200" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="https://www.linkedin.com/in/gustavo-lage-976b6220b/" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
    
    
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>Lucas André</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a href="https://github.com/llofyy" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="https://www.linkedin.com/in/lucas-andr%C3%A9-594812165/" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
    
    
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>Antonio D.</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a href="https://github.com/Antoni0o" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="https://www.linkedin.com/in/antonio-dias788/" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
    
    
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>Erisvaldo S.</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a href="https://github.com/Erisvaldo15" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="#" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
    
    
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>Lucas G.</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a href="https://github.com/yLucasG" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="#" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
    
    
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>João</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a href="https://github.com/Joao620" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="#" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
    
    
                    <div class="content__creditos-dev__user">
                        <div class="content__creditos-dev__user-text">
                            <h2>Arthur</h2>
                        </div>
                        <div class="content__creditos-dev__user-links">
                            <a href="https://github.com/ArthurDeveloper" target="_blank">
                                <img src="/assets/img/github-pequeno.svg" alt="github">
                            </a>
    
                            <a href="#" target="_blank">
                                <img src="assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                
            <footer>
                <a href="#">
                    <h2>Link do Projeto Completo</h2>
                </a>
            </footer>
        </section>
    <%- include('./modulos/conteudo', {parte: 'fechar'}) %> 
</body>
</html>