@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  color: var(--roxo-ligth);
}

.cabecalho {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.voltar-sala {
  display: flex;
  align-items: center;
}
.voltar-sala__link {
  width: 1rem;
  display: inline-block;
  margin: 0 1rem 0 2rem;
}
.voltar-sala__texto {
  display: inline-block;
}

.menu-mobile {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  animation: aparecer 0.5s;
}
.menu-mobile--escondido {
  display: none;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-mobile__bg {
  position: relative;
  background-color: var(--black-modal);
  width: 100%;
  height: 100%;
  z-index: 98;
}
.menu-mobile__fg {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  width: 60%;
  max-width: 30em;
  background-color: var(--white);
  z-index: 99;
}
.menu-mobile__div-fechar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menu-mobile__imagem-fechar {
  cursor: pointer;
  height: 3rem;
  margin: 1rem;
  width: auto;
}
.menu-mobile__botao {
  display: inline-flex;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-mobile__lista-centrada {
  width: 60%;
}
.menu-mobile__icone {
  display: inline;
  height: 1em;
  margin-right: 0.5em;
  width: auto;
}
.menu-mobile__texto {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-mobile__texto--vermelho {
  color: #f55;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.vazio-cima-conteudo {
  flex-basis: 15rem;
}

.fundo-principal-roxo {
  background-color: var(--roxo-ligth);
  border-radius: 30px 30px 0 0;
  flex-grow: 2;
  padding: 1rem;
}

.conteudo {
  max-width: 40rem;
  margin: auto;
}

.bola-baixo {
  clip-path: circle();
  background-color: var(--roxo-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%) translateY(50%);
  width: 100%;
  height: 100%;
}

.bola-alto {
  clip-path: circle();
  background: var(--ciano-medio);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fundo-arredondado-cinza {
  padding: 0.5rem;
  background-color: var(--ciano-medio);
  border-radius: 10%;
}

/* VARIAVEIS DE CORES */
:root {
  --roxo-dark: #5E49DA;
  --roxo-ligth: #6A5ACD;
  --ciano-medio: #E7EDF7;
  --ciano-light: #F0F5FC;
  --white: #FFFFFF;
  --grey-dark: #A5A2A2;
  --green-light: rgba(4, 255, 0, 0.5);
  --red-ligth: rgb(255, 0, 0, 50%);
  --roxo-opacity: rgba(106, 90, 205, 50%);
  --black-modal: rgba(0, 0, 0, 60%);
}

.sala-de-espera {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.texto-id {
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}
.texto-id h2 {
  margin-right: 1rem;
  color: var(--white);
}

.texto-id__fundo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 4rem;
  background-color: var(--white);
  border-radius: 1rem;
}
.texto-id__fundo span {
  color: var(--roxo-ligth);
  font-size: 2.5rem;
  font-weight: bold;
}
.texto-id__fundo h3 {
  color: var(--roxo-ligth);
  font-size: 2.5rem;
}

.sala-de-espera .info-sala {
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 10%;
  background-color: var(--white);
}
.sala-de-espera .info-sala h5 {
  color: var(--roxo-ligth);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.sala-de-espera .info-sala__participantes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: var(--ciano-medio);
  margin-bottom: 2.3rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
}
.sala-de-espera .info-sala__participantes img {
  width: 5rem;
  height: 5rem;
}
.sala-de-espera .info-sala__participantes h2 {
  font-size: 4rem;
}

.info-sala__btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.info-sala__btn-gerar {
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
}
.info-sala__btn-gerar:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.info-sala__mensagem-de-criacao {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.info-sala__mensagem-de-criacao h3 {
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  background: var(--ciano-medio);
  padding: 1rem 4rem;
  border-radius: 1rem;
}

.info-sala__mensagem-de-criacao.cartela-gerada {
  display: flex;
  opacity: 1;
  visibility: visible;
}

#copy-id {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 15rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  padding: 1rem;
}
#copy-id input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#copy-id input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
#copy-id img {
  width: 1.8rem;
  height: 1.8rem;
}

.info-sala__btn-cancelar {
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
  color: rgba(255, 0, 0, 0.63);
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.info-sala__btn-cancelar:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.texto-id h2 {
  font-size: 1.7rem;
  margin-right: 0;
}

.info-sala__mensagem-de-criacao-dono {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  background: var(--white);
  width: 30rem;
  height: 5rem;
  border-radius: 1rem;
  animation: aparecer 1s;
}
.info-sala__mensagem-de-criacao-dono h3 {
  font-size: 1.8rem;
  color: var(--roxo-ligth);
}

.info-sala__btn-gerar-cancelar {
  margin-top: 3rem;
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
  color: var(--red-ligth);
  width: 8.5rem;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}
.info-sala__btn-gerar-cancelar:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.criar-sala {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--roxo-ligth);
}
.criar-sala__titulo {
  color: var(--white);
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.criar-sala__item-form {
  border-radius: 5px;
  border: none;
  background: var(--white);
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  width: 80%;
  padding: 0.5rem;
}
.criar-sala__label {
  margin: 0 1rem;
}
.criar-sala__select {
  flex-grow: 2;
  min-width: 0;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 0;
  background: var(--ciano-medio);
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--roxo-ligth);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
.criar-sala__input {
  flex-grow: 2;
  min-width: 0;
  border-radius: 5px;
  padding: 0.8rem 0;
  background: var(--ciano-medio);
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--roxo-ligth);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
}
.criar-sala__submit-wrapper {
  width: 100%;
  display: flex;
}
.criar-sala__submit {
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
  margin: 0 auto;
}
.criar-sala__submit:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.tela-bingo {
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
}

.bolas-bingo {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 2rem;
}
.bolas-bingo__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  background: var(--white);
  border-radius: 50%;
  border: 5px solid var(--roxo-ligth);
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
  font-size: 11vh;
  color: var(--roxo-ligth);
}
.bolas-bingo__secundarias {
  display: flex;
  justify-content: space-evenly;
  transform: translateY(-25%);
}

.bolas-secundarias {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-size: 5vh;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  padding: 0.5em;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.25);
}
.bolas-secundarias__meio {
  transform: translateY(50%);
}

.tabela-bingo {
  display: grid;
  grid-template-columns: repeat(5, 2em);
  grid-template-rows: repeat(5, 1.5em);
  gap: 0.4em;
  font-family: "Roboto Mono", monospace;
  font-size: 3.5vh;
  margin: 0.5em auto;
  padding: 0.5em;
  border-radius: 5%;
  background-color: var(--white);
  user-select: none;
}
.tabela-bingo__item {
  background-color: var(--ciano-medio);
  text-align: center;
  border-radius: 10%;
  transition: outline 50ms;
  outline: 0 var(--roxo-dark) solid;
  transition: background 1s;
}
.tabela-bingo__item--letra {
  color: var(--roxo-ligth);
  font-weight: bold;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
.tabela-bingo__item--selecionado {
  background-color: var(--roxo-dark);
  color: var(--white);
  transition: background 1s;
}

.botao-bingo {
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
  margin: 0 auto;
  margin-bottom: 1em;
}
.botao-bingo:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.bolas-giratorias--ativado {
  transition: transform 1s ease-in;
  transform: rotateX(0.75turn) scale(10%);
}
.bolas-giratorias--desativado {
  transition: transform 1s ease-out;
  transform: rotateX(0) scale(100%);
}

.gap-cartela {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pedra-bloqueada {
  cursor: not-allowed;
}

.pedra-marcada {
  background-color: var(--roxo-dark);
  color: var(--white);
}

.texto-id__entrar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 4rem;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1rem;
  transition: background 0.2s;
}
.texto-id__entrar:hover {
  background-color: var(--ciano-medio);
}
.texto-id__fundo-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__criar-sala {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  justify-content: space-between;
  width: 90%;
  height: 6rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.content__img {
  width: 5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ciano-medio);
  border-radius: 1rem;
}
.content__img img {
  width: 3.5rem;
}

.sala-text {
  width: 90%;
  color: var(--white);
}

.content__salas-publicas {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 1rem;
  height: 8rem;
  padding: 0.5rem 1rem;
}
.content__salas-publicas-text {
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__salas-publicas-text h3 {
  color: #695acd88;
  font-size: 1.5rem;
}
.content__salas-publicas__user-na-sala {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  background-color: var(--ciano-medio);
  border-radius: 5px;
}
.content__salas-publicas__user-na-sala a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__salas-publicas__user-na-sala img {
  margin-right: 0.5rem;
  width: 2.5rem;
}

.inspecionar-sala__bingo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ciano-medio);
  width: 5rem;
  height: 4.5rem;
  border-radius: 5px;
  padding: 1.2rem;
}

.input-sala-id-entrar {
  width: 13.5rem;
  height: 4rem;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 10px;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--roxo-ligth);
}
.input-sala-id-entrar::placeholder {
  color: #695acd9a;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.content__atualizar-salas {
  margin-top: 0.5rem;
  width: 90%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__atualizar-salas h2 {
  color: var(--white);
  margin-right: 10rem;
}

.content__atualizar-salas button {
  border: none;
  background: transparent;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 5px;
}

.content__atualizar-salas button:hover {
  background: var(--roxo-dark);
}

.content__atualizar-salas button img {
  width: 2rem;
  height: 2rem;
}

.sala-de-espera .list-salas-scroll {
  border-radius: 10px;
  overflow-y: scroll;
  padding-bottom: 20px;
  width: 90%;
  height: 40vh;
}

.list-salas-scroll {
  scrollbar-color: var(--roxo-ligth) var(--ciano-medio);
}

.list-salas-scroll::-webkit-scrollbar-thumb {
  background: var(--ciano-medio);
  color: var(--roxo-ligth);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.sala-erro {
  display: none;
  background-color: rgba(255, 67, 67, 0.623);
  color: white;
  padding: 0.5rem 6rem;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: -3rem;
  font-weight: 600;
  margin-top: 1.1rem;
}

.inspecionar-sala__bingo {
  cursor: pointer;
}

.cartela-gerada {
  display: none;
}

.content__creditos-dev {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content__creditos-dev h2 {
  margin-top: 4rem;
  color: var(--white);
  margin-bottom: 2rem;
}
.content__creditos-dev__user {
  width: 35rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 10px;
  padding: 0 2rem;
  margin-top: 1.5rem;
}
.content__creditos-dev__user-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__creditos-dev__user-text h2 {
  color: var(--roxo-ligth);
  margin: 0;
}
.content__creditos-dev__user-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__creditos-dev__user-links img {
  width: 2.5rem;
  height: auto;
  margin-right: 2rem;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h2 {
  color: var(--white);
  font-size: 1rem;
  margin-top: 2rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-modal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 90%;
  height: auto;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}
.modal-container__text-vencedor {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  background: var(--ciano-medio);
  border-radius: 5px;
}
.modal-container__text-vencedor h2 {
  font-size: 1.7rem;
}
.modal-container__vencedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-container__vencedor img {
  width: 45%;
  height: auto;
}
.modal-container__vencedor h2 {
  color: var(--green-light);
}
.modal-container__vencedor-score {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container__vencedor-score h3 {
  font-size: 1.2rem;
  color: var(--roxo-ligth);
  margin-right: 0.5rem;
}
.modal-container__vencedor-score h3 span {
  font-size: 1.5rem;
}
.modal-container__botao button {
  border: none;
  padding: 1rem 5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
}
.modal-container__botao button:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.modal-container__perdedor {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
}
.modal-container__perdedor h2 {
  color: var(--red-ligth);
  margin-right: 0.5rem;
}
.modal-container__perdedor img {
  width: 3rem;
  height: auto;
}
.modal-container__botao button {
  padding: 1rem 3rem;
}

.tela-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__logo {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}
.content__logo img {
  height: 30vh;
  width: auto;
  margin: auto 0;
}

.content__formulario-login__github {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-bottom: 5%;
}
.content__formulario-login__github img {
  height: 5vh;
  width: auto;
}
.content__formulario-login__github a {
  color: var(--white);
  font-weight: bold;
}

.content__formulario-login-form {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;
}
.content__formulario-login-form fieldset {
  width: 30rem;
  border: none;
  background: var(--white);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.content__formulario-login-form fieldset img {
  width: 2.5rem;
  height: 2.5rem;
}
.content__formulario-login-form-input {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 20rem;
  padding: 1rem;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--roxo-dark);
  background-color: var(--white);
}
.content__formulario-login-form-input::placeholder {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--grey-dark);
  font-family: "Raleway", sans-serif;
}
.content__formulario-login-form-btn-acessar {
  margin-top: 1rem;
  border: none;
  width: 16rem;
  height: 5rem;
  background: var(--white);
  border-radius: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--roxo-ligth);
  font-size: 2.2rem;
  cursor: pointer;
  transition: background 0.2s;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
}
.content__formulario-login-form-btn-acessar:hover {
  background: var(--roxo-dark);
  color: var(--white);
}

.content__formulario-login-form-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50%;
}
.content__formulario-login-form-links a {
  color: var(--white);
}

.content__atualizar-salas {
  width: 90%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content__atualizar-salas button {
  border: none;
  background: transparent;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 5px;
}
.content__atualizar-salas button:hover {
  background: var(--roxo-dark);
}
.content__atualizar-salas button img {
  width: 2rem;
  height: 2rem;
}

.login-erro {
  display: block;
  background-color: rgba(255, 67, 67, 0.623);
  color: white;
  padding: 0.5rem 4rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.login-erro--invisivel {
  display: none;
}

#players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}

.player-data {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000055;
  color: #FFFFFF;
  border-radius: 20px;
  margin-left: 0.7rem;
  padding: 0 2rem 0 2rem;
  font-weight: bold;
  font-size: 2rem;
  width: 90%;
  height: 4rem;
}

.player-name {
  margin-right: auto;
}

.player-punctuation {
  margin-left: auto;
}

.player-placing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: #FFFFFF;
  width: 5.2rem;
  height: 5.2rem;
}

#first-place-data {
  color: #FFF500;
  border: 2px solid #FFF500;
}

#second-place-data {
  color: #E9E9E9;
  border: 2px solid #E9E9E9;
}

#third-place-data {
  color: #CD7F32;
  border: 2px solid #CD7F32;
}

#first-place-img, #second-place-img, #third-place-img {
  width: 5.6rem;
  height: 5.6rem;
}

.logo-ranking {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-ranking img {
  width: 50%;
}

.ranking-scroll {
  flex-direction: column;
  margin-top: 1rem;
  overflow-y: scroll;
  width: 100%;
  height: 50vh;
  margin-bottom: 5vh;
}
