@use '../mixins/mixins';

.tela-bingo {
    display: flex;
    flex-direction: column;
    // transform: translateY(-50%); //talvez isso funcione, teste quando acabar cm o design
}

.bolas-bingo {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;

    &__principal {    
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
        
        width: 2em;
        height: 2em;

        background: var(--white);
        border-radius: 50%;
        border: 5px solid var(--roxo-ligth);
        box-shadow: 0 7px 4px rgba(0, 0, 0, 25%);

        font-size: 11vh;
        color: var(--roxo-ligth);
    }

    &__secundarias {
        display: flex;
        justify-content: space-evenly;
        transform: translateY(-25%);
    }
    
}

.bolas-secundarias {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    height: 2em;

    font-size: 5vh;
    color: var(--white);

    border: 2px solid var(--white);
    border-radius: 50%;

    padding: .5em;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 25%), 0 5px 5px rgba(0, 0, 0, 25%);

    &__meio {
        transform: translateY(50%);
    }
}

.tabela-bingo {
    display: grid;
    grid-template-columns: repeat(5, 3em);
    grid-template-rows: repeat(5, 2em);
    gap: 1em;
    
    font-family: "Roboto Mono", monospace;
    font-size: 2vh;

    margin: 2em auto;
    padding: 1em;

    border-radius: 5%;
    background-color: var(--white);


    &__item {
        background-color: var(--ciano-medio);
        text-align: center;
        line-height: 2em;
        border-radius: 10%;

        &--letra{
            color: var(--roxo-ligth);
            font-weight: bold;
            font-size: 2em;
            line-height: 1;
            font-family: "Raleway", sans-serif;
        }
    }
}

.botao-bingo {
    @include mixins.botao-padrao;
    margin: 0 auto;
    margin-bottom: 1em;
}