.fundo-modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.fundo-modal .conteudo-modal{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background: var(--white);
    width: 100%;
    height: auto;
}

.fundo-modal .conteudo-modal .title-modal{
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--ciano-medio);
    padding: 1rem;
}

.fundo-modal .conteudo-modal .vencendor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fundo-modal .conteudo-modal .vencendor img{
    width: 70%;
    height: auto;
}
.fundo-modal .conteudo-modal .vencendor h2{
    margin-top: 1.5rem;
    color: #04ff00a4;
}
.fundo-modal .conteudo-modal .vencendor .qtd-dinheiro-que-ganhou{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    background: var(--ciano-medio);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.fundo-modal .conteudo-modal .vencendor .qtd-dinheiro-que-ganhou img{
    margin-right: 0.5rem;
}
.fundo-modal .conteudo-modal .vencendor .qtd-dinheiro-que-ganhou p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--roxo-dark);
}

.btn-premiacao{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.receber-premio{
    width: 20rem;
    height: 3.4rem;
    border-radius: 20px;

    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--roxo-ligth);
    font-weight: 700;
    background: var(--ciano-medio);
    border: none;
    -webkit-box-shadow: -1px 9px 8px -6px rgba(0,0,0,0.58); 
    box-shadow: -1px 9px 8px -6px rgba(0,0,0,0.58);
}

.receber-premio:hover{
    color: var(--roxo-dark);
    background: var(--ciano-light);
}