@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  color: var(--roxo-ligth);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.voltar-sala {
  display: flex;
  align-items: center;
}
.voltar-sala__link {
  width: 1rem;
  display: inline-block;
  margin: 0 1rem 0 2rem;
}
.voltar-sala__texto {
  display: inline-block;
}

.menu-mobile--escondido {
  display: none;
}
.menu-mobile--visivel {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
}

.menu-mobile__bg {
  background-color: var(--black-modal);
  width: 100%;
  height: 100%;
}
.menu-mobile__fg {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 30em;
  height: 100%;
  background-color: var(--white);
}
.menu-mobile__div-fechar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menu-mobile__imagem-fechar {
  cursor: pointer;
  height: 2rem;
  margin: 2rem;
  width: auto;
}
.menu-mobile__botao {
  display: inline-flex;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.menu-mobile__lista-centrada {
  width: 60%;
}
.menu-mobile__icone {
  display: inline;
  height: 1em;
  margin-right: 0.5em;
  width: auto;
}
.menu-mobile__texto {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-mobile__texto--vermelho {
  color: #f55;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.vazio-cima-conteudo {
  flex-basis: 15rem;
}

.fundo-principal-roxo {
  background-color: var(--roxo-ligth);
  border-radius: 30px 30px 0 0;
  flex-grow: 2;
}

.conteudo {
  max-width: 50rem;
  margin: auto;
}

.bola-baixo {
  clip-path: circle();
  background-color: var(--roxo-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%) translateY(50%);
  width: 100%;
  height: 100%;
}

.bola-alto {
  clip-path: circle();
  background: var(--ciano-medio);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fundo-arredondado-cinza {
  padding: 0.5rem;
  background-color: var(--ciano-medio);
  border-radius: 10%;
}

/* VARIAVEIS DE CORES */
:root {
  --roxo-dark: #5E49DA;
  --roxo-ligth: #6A5ACD;
  --ciano-medio: #E7EDF7;
  --ciano-light: #F0F5FC;
  --white: #FFFFFF;
  --grey-dark: #A5A2A2;
  --green-light: rgba(4, 255, 0, 0.5);
  --red-ligth: rgb(255, 0, 0, 50%);
  --roxo-opacity: rgba(106, 90, 205, 50%);
  --black-modal: rgba(0, 0, 0, 60%);
}

.sala-de-espera {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.texto-id {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.texto-id h2 {
  margin-right: 2rem;
  color: var(--white);
}

.texto-id__fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 4rem;
  background-color: var(--white);
  border-radius: 1rem;
}
.texto-id__fundo span {
  color: var(--roxo-ligth);
  font-size: 2.5rem;
  font-weight: bold;
}
.texto-id__fundo h3 {
  color: var(--roxo-ligth);
  font-size: 2.5rem;
}

.sala-de-espera .info-sala {
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 10%;
  background-color: var(--white);
}
.sala-de-espera .info-sala h5 {
  color: var(--roxo-ligth);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.sala-de-espera .info-sala__participantes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 18rem;
  height: 5.5rem;
  padding: 2.5rem;
  background-color: var(--ciano-medio);
  margin-bottom: 2.3rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
}
.sala-de-espera .info-sala__participantes img {
  width: 5rem;
  height: 5rem;
}
.sala-de-espera .info-sala__participantes h2 {
  font-size: 4rem;
}

.info-sala__btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.info-sala__btn-gerar {
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
}
.info-sala__btn-gerar:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.info-sala__mensagem-de-criacao {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.info-sala__mensagem-de-criacao h3 {
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  background: var(--ciano-medio);
  padding: 1rem 4rem;
  border-radius: 1rem;
}

.info-sala__mensagem-de-criacao-dono {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  background: var(--white);
  width: 30rem;
  height: 5rem;
  border-radius: 1rem;
}
.info-sala__mensagem-de-criacao-dono h3 {
  font-size: 1.8rem;
  color: var(--roxo-ligth);
}

.info-sala__btn-gerar-cancelar {
  margin-top: 3rem;
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
  color: var(--red-ligth);
  width: 8.5rem;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}
.info-sala__btn-gerar-cancelar:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}

.criar-sala {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--roxo-ligth);
}
.criar-sala__titulo {
  color: var(--white);
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.criar-sala__item-form {
  border-radius: 5px;
  border: none;
  background: var(--white);
  display: flex;
  min-width: 0;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  width: 80%;
  padding: 0.5rem;
}
.criar-sala__label {
  margin: 0 1rem;
}
.criar-sala__select {
  flex-grow: 2;
  min-width: 0;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 0;
  background: var(--ciano-medio);
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--roxo-ligth);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
.criar-sala__input {
  flex-grow: 2;
  min-width: 0;
  border-radius: 5px;
  padding: 0.8rem 0;
  background: var(--ciano-medio);
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--roxo-ligth);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
}
.criar-sala__submit-wrapper {
  width: 100%;
  display: flex;
}
.criar-sala__submit {
  border: none;
  width: 12rem;
  height: 3.5rem;
  background: var(--ciano-medio);
  border-radius: 2rem;
  font-size: 1.5rem;
  color: var(--roxo-ligth);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  box-shadow: -1px 9px 8px -6px rgba(0, 0, 0, 0.58);
  transition: background 0.3s;
  margin: 0 auto;
}
.criar-sala__submit:hover {
  background: var(--roxo-ligth);
  color: var(--ciano-medio);
}