<header class="cabecalho">
    <% if (typeof salaAnterior !== 'undefined') {%> 
    <div class="cabecalho__voltar-sala voltar-sala">
        <a href="/" class="voltar-sala__link">
            <img class="voltar-sala__imagem" src="/assets/img/arrow-left.svg" alt="Voltar na tela anterior">
        </a>
        <h2 class="voltar-sala__texto"><%= salaAnterior %></h2>
    </div>
    <% } %> 
    <div class="cabecalho__menu-hamburger menu-hamburger">
        <a href="#" class="menu-hamburger__link" onclick="aparecerMenu(event)">
            <img class="menu-hamburger__imagem" src="/assets/img/menu.svg" alt="Menu Mobile">
        </a>
    </div>
    <div class="menu-mobile menu-mobile--escondido">
        <!-- aquele fundo preto na pagina toda -->
        <div class="menu-mobile__bg" onclick="esconderMenu(event)"></div>
        <!-- aqui que tem oque interessa -->
        <div class="menu-mobile__fg">
            <div class="menu-mobile__div-fechar">
                <img src="/assets/img/close.svg" alt="fechar menu" onclick="esconderMenu(event)" 
                    class="menu-mobile__imagem-fechar"
                >
            </div>
            
            <div class="menu-mobile__lista-centrada">
                <div class="menu-mobile__botao fundo-arredondado-cinza">
                    <span class="menu-mobile__texto"><%= user.username %></span>
                </div>
                
                <a class="menu-mobile__botao fundo-arredondado-cinza" id="ranking" href="#">
                    <img class="menu-mobile__icone" src="/assets/img/ranking-global.svg" alt="icone Ranking">
                    <span class="menu-mobile__texto">Ranking</span>
                </a>

                <a class="menu-mobile__botao fundo-arredondado-cinza" href="#">
                    <img class="menu-mobile__icone" src="/assets/img/github-pequeno.svg" alt="icone github">
                    <span class="menu-mobile__texto">Créditos</span>
                </a>

                <a class="menu-mobile__botao fundo-arredondado-cinza" id="logout" href="#">
                    <img class="menu-mobile__icone" src="/assets/img/logout.svg" alt="imagem sair">
                    <span class='menu-mobile__texto--vermelho'>Logout</span>
                </a>


            </div>
        </div>
    </div>
    
    <script>
        const logout = document.querySelector('#logout')
        logout.addEventListener('click', (e)=> {
            e.preventDefault();
            document.cookie = "usuarioLogado=; path=/"
            window.location.replace('/');
        })

        const ranking = document.querySelector('#ranking')
        ranking.addEventListener('click', (e)=> {
            e.preventDefault();
            window.location.replace('/ranking');
        })

        //parte que abre e fecha o menu mobile
        function aparecerMenu(e){
            e.preventDefault();
            let elemento = document.getElementsByClassName('menu-mobile--escondido')[0]
            if (elemento) {
                elemento.classList.toggle('menu-mobile--escondido')
            }
        }
        
        function esconderMenu(e){
            e.preventDefault();
            let elemento = document.getElementsByClassName('menu-mobile')[0]
            if (elemento) {
                elemento.classList.toggle('menu-mobile--escondido')
            }
        }
    </script>
</header>
