<%if(typeof parte === 'undefined'){throw new Error('A variavel "parte" nao foi passada para o fundo')} %> 
<%if(parte === 'abrir') {%> 
    <div class="vazio-cima-conteudo"></div>
    <div class="fundo-principal-roxo">
        <div class="conteudo">
<%} else if(parte == 'fechar'){%> 
        </div>
    </div>
<%} %> 