<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Modal</title>
</head>
<body>
    <section id="modal">
        <div class="content__lista-users">
            <div class="content__lista-users-fechar-modal">
                <img src="/assets/img/fecha-modal.svg" alt="">
            </div>
            <% for( let i = 0; i < 15; i++ ) { %>
                <div class="content__lista-users__container">
                    <h2><%= '##########' %></h2>
                    <a href="#">
                        <img src="/assets/img/delete-sala.svg" alt="">
                    </a>
                </div>    
            <% } %>
            
        </div>
    </section>
</body>
</html>