<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <%for(let i = 0; i < 10; i++){%>
        <h1>Muito dahora esse tal de ejs</h1>
        <%}%>
    </body>
</html>
