@use '../mixins/mixins';

#modal {
    width: 100%;
    height: 100%;
    background-color: var(--black-modal);
    @include mixins.flex-center;
}

.modal-container{
    width: 90%;
    height: auto;
    background-color: var(--white);
    border-radius: 15px;
    @include mixins.flex-center;
    flex-direction: column;
    padding: 2rem 0;

    &__text-vencedor{
        margin-top: 1rem;
        padding: .7rem 2rem;
        background: var(--ciano-medio);
        border-radius: 5px;

        h2{
            font-size: 1.7rem
        }
    }

    &__vencedor{
        @include mixins.flex-center;
        flex-direction: column;

        img{
            width: 45%;
            height: auto;
        }
        h2 {
            color: var(--green-light);
        }

        &-score{
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include mixins.flex-center;
            h3{
                font-size: 1.2rem;
                color: var(--roxo-ligth);
                margin-right: 0.5rem;

                span{
                    font-size: 1.5rem;
                }
            }
            
        }

    }
    &__botao{
        button {
            border: none;
            padding: 1rem 2rem;
            background: var(--ciano-medio);
            border-radius: 2rem;
            font-size: 1.5rem;
            color: var(--roxo-ligth);
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            cursor: pointer;
            @include mixins.sombra-elementos;
            transition: background .3s;

            &:hover {
            background: var(--roxo-ligth);
            color: var(--ciano-medio);
            }
        }
    }
}


