@use '../mixins/mixins';

.tela-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__logo{
    width: 100%;
    height: auto;
    position: relative;
    @include mixins.flex-center;
    margin: 5% 0 ;
    

    img{
        height: 30vh;
        width: auto;
        margin: auto 0;
    }
}

.content__formulario-login{
    &__github{
        @include mixins.flex-center;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-bottom: 5%;

        img{
            height: 5vh;
            width: auto;
        }

        a{
            color: var(--white);
            font-weight: bold;
        }
    }
}

.content__formulario-login-form{
    width: 100%;
    height: 50%;
    @include mixins.flex-center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;

    fieldset{
        width: 30rem;
        border: none;
        background: var(--white);
        border-radius: 2rem;
        @include mixins.flex-center;
        justify-content: space-between;
        padding: 0 1rem;
        margin-bottom: 1rem;

        img{
            width: 2.5rem;
            height: 2.5rem;
        }
        
    }

    &-input{
        width: 100%;
        height: 5rem;
        border: none;
        border-radius: 20rem;
        padding: 1rem;
        outline: none;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--roxo-dark);
        background-color: var(--white);

        &::placeholder{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--grey-dark);
            font-family: 'Raleway', sans-serif;
        }
    }

    &-btn{

        &-acessar{
            margin-top: 1rem;
            border: none;
            width: 16rem;
            height: 5rem;
            background: var(--white);
            border-radius: 5rem;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: var(--roxo-ligth);
            font-size: 2.2rem;
            cursor: pointer;
            transition: background .2s;
            @include mixins.sombra-elementos;

            &:hover{
                background: var(--roxo-dark);
                color: var(--white);
            }

        }
    }
}

.content__formulario-login-form-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 3em;

    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50%;

    a {
        color:var(--white);
    }
}

.content__atualizar-salas{
    width: 90%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
        border: none;
        background: transparent;
        padding: .5rem 1.2rem;
        cursor: pointer;
        transition: background .2s;
        border-radius: 5px;

        &:hover{
            
            background: var(--roxo-dark);
        }

        img{
            width: 2rem;
            height: 2rem;
        }
    }
}

.login-erro {
    display: block;
    background-color: rgba(255, 67, 67, 0.623);
    color: rgb(255, 255, 255);
    padding: .5rem 4rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .login-erro--invisivel {
    display: none;
  }