@use '../mixins/mixins';

.tela-bingo {
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
}

.bolas-bingo {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;

    &__principal {    
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
        
        width: 2em;
        height: 2em;

        background: var(--white);
        border-radius: 50%;
        border: 5px solid var(--roxo-ligth);
        box-shadow: 0 7px 4px rgba(0, 0, 0, 25%);

        font-size: 11vh;
        color: var(--roxo-ligth);

    }

    &__secundarias {
        display: flex;
        justify-content: space-evenly;
        transform: translateY(-25%);
    }
    
}

.bolas-secundarias {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    height: 2em;

    font-size: 5vh;
    color: var(--white);

    border: 2px solid var(--white);
    border-radius: 50%;

    padding: .5em;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 25%), 0 5px 5px rgba(0, 0, 0, 25%);

    &__meio {
        transform: translateY(50%);
    }
}

.tabela-bingo {
    display: grid;
    grid-template-columns: repeat(5, 2em);
    grid-template-rows: repeat(6, 1.5em);
    gap: .4em;
    
    font-family: "Roboto Mono", monospace;
    font-size: 3.5vh;

    margin: 0.5em auto;
    padding: .5em;

    border-radius: 5%;
    background-color: var(--white);

    user-select: none;

    &__item {
        background-color: var(--ciano-medio);
        text-align: center;
        border-radius: 10%;
        transition: background-color 1s;

        &--letra{
            color: var(--roxo-ligth);
            font-weight: bold;
            font-family: "Raleway", sans-serif;
        }

        &--selecionado {
            background-color: var(--roxo-dark);
            color: var(--white);
    
            transition: background-color 1s;
        }
    }
}

.botao-bingo {
    @include mixins.botao-padrao;
    width: 70%;
    height: 5rem;
    margin: 10rem auto;
}

.bolas-giratorias {
    &--ativado {
        transition: transform .5s ease-in;
        transform: scale(70%);
    }
    
    &--desativado {
        transition: transform .5s ease-out;
        transform: scale(100%);       
    }
}

// .gap-cartela {
//     display: flex;
//     flex-direction: column;
//     gap: .5rem;
// }

.pedra-bloqueada{
    cursor: not-allowed;
}

.pedra-marcada{
    background-color: var(--roxo-dark);
    color: var(--white);
}

.telaBingo__vizualizar-pedras{
    padding:3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

    img {
        width: 4rem;
        cursor: pointer;
    }
}

.modal-pedras {
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-modal);
    @include mixins.flex-center;
    animation: aparecer .5s;
    z-index: 100;

    &--escondido{
        //precisa ser none pra nao zuar com a identacao da pagina
        display: none;
    }

}
